.slideshow-container
  .mySlides
    %img/
    = image_tag 'pasta.jpeg'
    \&gt;
  .mySlides
    %img/
    = image_tag 'food_pizza-02.jpg'
    \&gt;
  .mySlides
    %img/
    = image_tag 'burger.jpg'
    \&gt;
  .mySlides
    %img/
    = image_tag 'Pasta2.jpg'
    \&gt;
  .mySlides
    %img/
    = image_tag 'Pizza_HD.jpg'
    \&gt;
  .mySlides
    %img/
    = image_tag 'burger3.jpg'
    \&gt;

= render(:partial => "cart")
= render(:partial => "hour")
= render(:partial => "orderOnline")
= render(:partial => "aboutInfo")


= javascript_include_tag 'index', 'data-turbolinks-track' => true
